body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

h1{
  padding:1rem 0rem 1rem;
}

th,td{
  padding:1rem;
}

nav{
  padding:1rem 1rem 1rem;
  color: white;
  background-color:black;
  margin: 0 0 1rem;
}
